# Byte-compiled / optimized / DLL files
__pycache__/

# Node modules
node_modules/
.serverless/

# python local
.dynamodb/
.env
.env.dev

# generated
out/
docs_server/swagger/openapi.json

#env vars
.env.*

# pytest
/.pytest_cache/

# test coverage
/.coverage
/coverage_html/
/coverage.lcov
/coverage.xml
